@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto+Mono:wght@400;700&family=Tourney:wght@500;900&display=swap');


:root{
    --mainFont :'Roboto Mono', monospace;
    --logoFont :'Tourney', cursive;
    --otherFont:'Festive', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    flex: 0 0 auto;
}

a{
    text-transform: capitalize;
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    width: 100%;
}

body{
    font-family: var(--mainFont);
    font-size: 1.06rem;
}


