@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto+Mono:wght@400;700&family=Tourney:wght@500;900&display=swap');


:root{
    --mainFont :'Roboto Mono', monospace;
    --logoFont :'Tourney', cursive;
    --otherFont:'Festive', cursive;
}

*{
    padding: 0;
    margin: 0;
}



/* Media Queries */

@media screen and (max-width: 1200px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
    }

}  

@media screen and (max-width: 1200px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
    }

}  

@media screen and (max-width: 1024px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
    }

} 
 

@media screen and (max-width: 768px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
    }


   
   
}  


@media screen and (max-width: 481px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    .header__section {
        padding: 10px 30px;
    }

    .flex{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .header__section .user-profile{
        width: 60%;
        margin: 0 auto;
    }

    .user-profile img{
        width: 100%;
    }


    .left-content h1{
        font-size: 1.5rem;
        color: #FF7600;
        line-height: 24px;
        letter-spacing: 2px;
        font-family: var(--otherFont);
        text-align: center;
        
    }

    .left-content h3{
        font-size: .9rem;
        color: #000;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .left-content p{
        text-align: justify;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .btn-hire{
        background: linear-gradient( tomato, coral);
        display: inline-block;
        padding: 6px 20px;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

    }

}  
/* 

@media screen and (max-width: 320px) {

    body{
        font-family: var(--mainFont);
        padding: 0;
        margin: 0;
    }

}   */
