@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto+Mono:wght@400;700&family=Tourney:wght@500;900&display=swap');


:root{
    --mainFont :'Roboto Mono', monospace;
    --logoFont :'Tourney', cursive;
    --otherFont:'Festive', cursive;
}

/* *{
    padding: 0;
    margin: 0;
} */


a{
    text-transform: capitalize;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

body{
    font-family: var(--mainFont);
    font-size: 1.06rem;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

h1{
    font-size: 50px;
    font-family: var(--mainFont);
}

section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


.header__section{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}



.half-width{
    width: 50%;
}

.half-width  span{
    color: #FB9300; 
}

.user-profile{
    padding: 100px;
}

.half-width img{
    width: 100%;
}



.header__section p{
    color: #333;
    text-align: justify;
    text-transform: capitalize;
    font-weight: normal;
}



.btn-hire{
    background-image: linear-gradient(coral, tomato);
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    
}


/* section dream */

.dream-big .dream-img{
    padding: 100px;
}

.dream-info{
    padding: 10px;
}


.btn-download{
    background-image: linear-gradient(coral, tomato);
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px; 
}